@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}
body{
  background-color: #F7F9FD !important;
}


.bg-img {
  background-image: url('./assets/img/bg.jpg');
  background-size: cover;
  background-position: center;
}

.blocks {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}

.xyz {
  background-image: url('./assets/img/bg2.jpg') !important;
  background-position: left;
  background-size: cover;
  height: 95%;
  width: 100%;
}
.bgx{
  height: calc(98vh - 64px);
  width: 240px;
  background: rgba(0, 0, 0, 0.4);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);

}
.gred{
  background-image: linear-gradient(14deg , #2800ff,#08f1d9);
}

.bg-crossline{
  clip-path: polygon(76% 0, 100% 0, 93% 14%, 79% 15%, 0 100%, 0 81%);
}

.recharts-surface{
  margin-left: 17px;
}
.recharts-default-tooltip{
  border-radius: 10px !important ;
  width: 140px;
  height: 70px;
  color:#f7f9fdc3;
  background-color: #2800ff ;
}
.icon{
  height: 40px !important;
  width: 40px !important ;
  margin: 5px;
}